# egg info
bootstrap_contrast.egg-info/


# pycache folder
bootstrap_contrast/__pycache__/

# .ipynb files used during testing
.ipynb_checkpoints
bootstrap_contrast/*.ipynb
bootstrap_contrast/.ipynb_checkpoints
notebooks/*

# .pyc files
bootstrap_contrast/*.pyc
bootstrap_contrast/old__/*.pyc

# debug .py files
debug*

# img directory
img/*

# all .DS_store files.
.DS_Store
bootstrap_contrast/*.DS_Store
*.DS_Store

# Any temporary python file
*._py

# pdf folder
pdf/*

# font cache.
fontList.py3k.cache

# Build and dist folders
build/*
build/lib/*
dist/*

# # any images
#*.png
#*.svg

# CSV folder
csv/*

# random json files
*.json

# dev files
dev*
