# egg info
bootstrapContrast.egg-info/

# pycache folder
bootstrapContrast/__pycache__/

# .ipynb files used during testing
*.ipynb
.ipynb_checkpoints
bootstrapContrast/*.ipynb
bootstrapContrast/.ipynb_checkpoints

# any .CSVs or excel spreadsheets
bootstrapContrast/*.csv
bootstrapContrast/*.xlsx
*.csv
*.xlsx

# any svg outut
bootstrapContrast/*.svg
*.svg

# any png output
bootstrapContrast/*.png
*.png

# any pdf output
bootstrapContrast/*.pdf
*.pdf

# all .DS_store files.
bootstrapContrast/*.DS_Store 
*.DS_Store

# Any temporary python file
*._py